@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
/* variable  */
$color-1:rgb(248, 140, 125); 
$color-2: #e31836;
$number-grid : 12 ;

/***** variable  */

/* section extend */ 
.text-family {    
    font-family:  'Comic Sans MS' ;
}
.titre-family {    
    font-family:  'Courgette' , 'Comic Sans MS' ;
}
.logo-family {    
    font-family: 'Kaushan Script' , 'Comic Sans MS' ;
}
%coll-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.coll-center-hor{
    @extend %coll-center ;
    flex-direction: column;
}

.coll-center-ver{
    @extend %coll-center ;
    flex-direction: row;
}

%coll-start{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.coll-start-hor{
    @extend %coll-start ;
    flex-direction: column;
}
%coll-end{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.coll-end-hor{
    @extend %coll-end ;
    flex-direction: column;
}

%lien{
    @extend .titre-family ;
    text-decoration: none;
    color : white ;
    font-size: 20px;
    font-weight: bold;
}
/***** section extend */ 
@media (min-width: 992px){
    @for $i from 1 through $number-grid {
        .coll-#{$i}{
            width : ( 100% / ($number-grid / $i ) );

        }

    }
}

@media only screen and (max-width: 991px){
    @for $i from 1 through $number-grid {
        .coll-sm-#{$i}{
            width : ( 100% / ($number-grid / $i ) ) !important;

        }
    }
}
.roww{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    padding:0;
    margin:0;
    width : 100%;
    
}
.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    
}

html,body{
    margin : 0px !important;
    padding : 0px !important; 
    overflow-x: hidden;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* navbar  */
.navbar-1 {
    padding: 0px;
    background: url("../image/navbar2.jpg");
    background-size: cover;
    /*background-color: rgba(1,1,1, 0.3);;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center ;
    position: fixed;
    width: 100%;
    z-index: 2;
    top :0px;
    
    .logo{        
        font-size: 50px;
        font-weight: bold;
        margin-left:10%;
        a{
            @extend .logo-family ;
            text-decoration: none;
            color: $color-1;
            font-weight: bold;
            &:hover{
                color:white ;
            }
            span{
                .fa-search{
                    
                    width: 150px !important;
                    height: 150px !important;
                }
            }
        }
    }
    ul{
        list-style-type: none; 
        margin: 0;
        padding: 0;
        float:right;
        margin-right:10%;

        li{
            display: inline;
            margin-left:50px;
            a{
                @extend %lien ;
                &:hover{
                    color: $color-1;
                }
            }
        }
    }
}

/********* navbar */


/* navbar en screan mobile */ 

@media (max-width:991px){
    .navbar-1 {     
        padding:0px 15px;
        
        ul{
            float: left ;
            justify-content: space-around;
            /*align-items: flex-start !important;*/
            height: 100%;
            padding-left: 0px;
            li{
                margin-left: 5vw;
            }
        }
        .logo{
            z-index: 2;
        }
        .navbar-toggler{
            z-index: 2;
        }
        .navbar-collapse{
            height: 100vh;
            width: 50% !important ;
            padding: 10vh 0px ;
            background-color: $color-2;
            /*opacity:0.7;*/
            margin-top:-77px;
            margin-left: -3vw !important;
            margin-right: -3vw !important;
        }
        .navbar-toggler,.navbar-toggler-icon{
            color:white;
            background-color: white;
        }
    }
}

@media (max-height: 499px){   
    .navbar-1 {    
        ul{
            justify-content: center;
            li{
                margin :2vh 4vw ;
            }                
        }
    }   
}

/* navbar en screan mobile ******* */ 

/* footer */ 
.footer{

    position: relative;
    background-image: url("../image/footer.jpg");
    background-size: 100% 100%;
    background-position: center;
    
    width: 100%;
    height: 90vh;
    .footer-text-3{
        padding-top: 50px;
        
        a{
            @extend %lien ;
        }
    }
    .footer-text-2{
        padding-left: 60px;
        @extend .footer-text-3 ;

    }
    .footer-text-1{
        @extend .footer-text-3 ;
        padding-left: 150px;

    }


}
@media ( max-width: 921px){
    .footer{
        height: 100vh !important;
        .footer-text-3{
            text-align: center;
            padding-left: 0px !important;
            padding-top: 25px !important;
            padding-bottom: 25px !important;
        }
        .footer-text-2{
            text-align: center;
            padding-left: 0px !important;
            padding-top: 25px !important;
            padding-bottom: 25px !important;
        }
        .footer-text-1{
            text-align: center;
            padding-left: 0px !important;
            padding-top: 25px !important;
            padding-bottom: 25px !important;
        }
    }
}
/* footer ******/