@import "general" ;


.header-1{
    margin: 0px;
    padding: 0px;
    position: relative;
    background-image: url("../image/header.jpg");
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 100vh;
}


.section-1{
    padding :50px 0px 50px 0px ;
    .img-1{
        width: 100%;
        border-radius: 0 35px 35px 0;
        
    }
    .col-text-1{
        padding-left:30px;
        padding-right:10px;
        h1 { 
            @extend .titre-family ;
            color: $color-1;
            padding: 0px;
            margin: 0px; 
            margin-top:50px;
    
        }
        p{
            @extend .text-family ;
    
        }
    }


}
.section-2{
    padding :0px 0px 50px 0px ;
    .img-1{
        width: 100%;
        border-radius: 35px 0px 0px 35px;
        float:right;
        margin-right: 0px;
        margin-top: -200px;
        @media only screen and (max-width: 991px){
            margin-top: 0px;

        }

        
    }
    .col-text-2{
        padding-left:30px;
        
        h1 { 
            @extend .titre-family ;
            color: $color-1; 
            size : 50px ;
            padding: 0px;
            margin: 0px; 
        }
        p{
            @extend .text-family ;
        }
    }
    


}
.section-3{
    padding :0px 0px 50px 0px ;
    h1{
        @extend .titre-family ;
        color : $color-1 ;
        /*padding-left : 50px ;*/
        text-align: center;
    }
    a{
        text-decoration: none;
        h3{
            @extend .titre-family ;
            color :white ; 
            background-color: $color-2;
            border-radius: 0 0 20px 20px;
            padding : 5px 15px 5px 15px ;
            &:hover{
                color :$color-2 ; 
                background-color:white ;

            }

        }
    }
}




/* for mobile screan */ 
@media (max-width:767px){
    
    .img-1{
        width: 95% !important;    
    }
    
}

