@import "general" ;
body { 
    overflow-x: hidden;
}
/* page-produit */ 
.sec-image{
    background-image: url("../image/insc.jpg"); 
    background-size: 100% 100%;
    height: 100vh;
    top: 0px;


}
.sec-form{
    height: 100vh !important;
    /*width:50vw !important ;*/
    a{
        text-decoration: none;
        color : $color-2 ;
        margin: 2px;
        h1{
            @extend .logo-family; 
            
        }

    }
    .form-text-1{
        @extend .text-family;
        height : 30px ;
        width : 75% ;
        color : $color-2 ;
        border: 2px solid $color-2;
        margin: 5px;
        border-radius: 5px;
        &::placeholder{
            color : $color-1;
        }
    }
    .lien{
        @extend .text-family;
        text-decoration: none;
        color : white ;
        background-color: $color-2;
        border-radius: 5px;
        width : 75% ;
        text-align:center;
        padding : 4px ;
        margin: 15px;
        &:hover{
            background-color: $color-1;
        }


    }

}
.sec-image-connexion{
    background-image: url("../image/conn.jpg"); 
    background-size: 100% 100%;
    height: 100vh;
    top: 0px;
}
@media (max-width:575px){
    .sec-image-connexion{
      display: none !important;
    }
}





