@import "general" ;
body { 
    overflow-x: hidden;
}
/* page-menu */ 
.backgroung-menu{
    background-image: url("../image/bg2-menu.jpg"); 
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw ;
    position: fixed;
    top: 0px;
    
    z-index: -2;
   
}
.cotent-menu{
    margin-top: 80px;
    h1 { 
        @extend .titre-family ;
        color: $color-1;
        padding: 0px;
        margin: 0px; 
        text-align:left ;
        padding-left:130px;
    
    }
    .promation{
        margin-top: 10px ;
        img{

            border-radius: 25px 0px 0px 0px !important;
        }
    }
    .section-2{
        padding :0px 0px 50px 0px ;
        .sec-1{
            margin-top: 10px;
            img{
                margin-top:10px;
                margin-bottom: 10px;
            }

        }
        a{
            text-decoration: none;
            h3{
                @extend .titre-family ;
                color :white ; 
                background-color: $color-2;
                border-radius: 0 0 20px 20px;
                padding : 5px 15px 5px 15px ;
                &:hover{
                    color :$color-2 ; 
                    background-color:white ;
    
                }
    
            }

        }
        .pagination{
            margin: 50px 70px 0 0;
            float: right;
            a{
                text-decoration: none;
                margin-left: 5px;
                h3{
                    @extend .titre-family ;
                    color :white ; 
                    background-color: $color-2;
                    border-radius: 20px 20px 20px 20px;
                    padding : 5px 15px 5px 15px ;
                    &:hover{
                        color :$color-2 ; 
                        background-color:white ;
        
                    }
        
                }
            }

        }
    }
}
@media (max-width:767px){
    h1{
        text-align: center !important;
        padding-left: 0px !important;
    }
}
@media (max-width:599px){
    .item{
        width:100vw !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        img{
            width:100% !important; 
        }
    }

}

