@import "general" ;
body { 
    overflow-x: hidden;
}
.owl-nav{
    display: none;
}
/* page-produit */ 
.background-produit{
    /*background-image: url("../image/bg2-menu.jpg"); */
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw ;
    position: fixed;
    top: 0px;
    
    z-index: -2;
   
}
.content-produit{
    margin-top: 80px;

     
    
    .section-1{
        padding :0px 0px 50px 0px ;

        .sec-1{
            margin-top: 10px;
            
            .image-gallery{
                width:120px;
                margin-top:10px;
                margin-bottom: 10px;
                img{
                    width:100%
                }
            }
        }
        .image-active{
            width:350px !important;
            img{
            max-width: 100%;
            }
        }
        .titre-1{
            width: 100% !important; 
        }

        .order{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            a{
                text-decoration: none;
                text-align: right !important;
                position: right;
                h3{
                    @extend .titre-family ;
                    color :white ; 
                    background-color: $color-2;
                    border-radius: 20px 20px 20px 20px;
                    padding : 5px 15px 5px 15px ;
                    &:hover{
                        color :$color-2 ; 
                        background-color:white ;
                    }
                }
            }
        }
        .prix{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            a{
                text-decoration: none;
                text-align: right !important;
                position: right;
                h3{
                    @extend .titre-family ;
                    color :black ; 
                    border: 3px solid $color-1;
                    /*background-color: $color-1;*/
                    border-radius: 20px 20px 20px 20px;
                    padding : 5px 15px 5px 15px ;
                    margin-top: -10px;
                    margin-bottom: -10px;

                }
            }
        }
        
        p{
                @extend .text-family ;
                color :$color-2 ; 
                padding : 20px 15px 5px 15px ;
                &:hover{
                    color :$color-2 ; 
                    background-color:white ;
    
                }
        }

        h1 { 
            @extend .titre-family ;
            color: $color-1;
            padding: 0px;
            margin: 0 auto;
            margin-top: 25px; 
            text-align: center !important;
            //padding-left:130px;
        
        }
    }
}

.promation-titre{ 
    @extend .titre-family ;
    color: $color-1;
    padding: 0px;
    margin: 0px; 
    text-align:left ;
    padding-left:130px;
}

.promation{
    margin-top: 10px ;
    img{

        border-radius: 25px 0px 0px 0px !important;
    }
}

@media (max-width: 991px){
    .content-produit{
        .section-1{
            .image-active{
                width:250px !important;
                img{
                max-width: 100%;
                }
            }
            .image-gallery{
                width:100px !important;
                img{
                max-width: 100%;
                }
            }

        }
    }
}
@media (max-width:767px){
    h1{
        text-align: center !important;
        padding-left: 0px !important;
    }
}
@media (max-width: 700px){
    .content-produit{
        .section-1{
            .image-active{
                width:240px !important;
                img{
                max-width: 100%;
                }
            }
            .image-gallery{
                width:70px !important;
                img{
                max-width: 100%;
                }
            }

        }
    }
}
@media (max-width:599px){
    .item{
        width:100vw !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        img{
            width:100% !important; 
        }
    }

}

@media (max-width: 575px){
    .content-produit{
        .section-1{
            .image-active{
                width:200px !important;
                img{
                max-width: 100%;
                }
            }
            .image-gallery{
                height:90px !important;
                width:auto !important;
                padding:0px;
                display: flex !important;
                flex-direction: row !important;

                img{
                height: 100%;
                width:90px !important;
                }
            }

        }
    }
    .coll-end-hor-mobile{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
    }
}

