@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
/* variable  */
/***** variable  */
/* section extend */
.text-family, .section-1 .col-text-1 p, .section-2 .col-text-2 p {
  font-family: "Comic Sans MS"; }

.titre-family, .navbar-1 ul li a, .footer .footer-text-3 a, .footer .footer-text-2 a, .footer .footer-text-1 a, .section-1 .col-text-1 h1, .section-2 .col-text-2 h1, .section-3 h1, .section-3 a h3 {
  font-family: "Courgette", "Comic Sans MS"; }

.logo-family, .navbar-1 .logo a {
  font-family: "Kaushan Script", "Comic Sans MS"; }

.coll-center-hor, .coll-center-ver {
  display: flex;
  align-items: center;
  justify-content: center; }

.coll-center-hor {
  flex-direction: column; }

.coll-center-ver {
  flex-direction: row; }

.coll-start-hor {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; }

.coll-start-hor {
  flex-direction: column; }

.coll-end-hor {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end; }

.coll-end-hor {
  flex-direction: column; }

.navbar-1 ul li a, .footer .footer-text-3 a, .footer .footer-text-2 a, .footer .footer-text-1 a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold; }

/***** section extend */
@media (min-width: 992px) {
  .coll-1 {
    width: 8.3333333333%; }

  .coll-2 {
    width: 16.6666666667%; }

  .coll-3 {
    width: 25%; }

  .coll-4 {
    width: 33.3333333333%; }

  .coll-5 {
    width: 41.6666666667%; }

  .coll-6 {
    width: 50%; }

  .coll-7 {
    width: 58.3333333333%; }

  .coll-8 {
    width: 66.6666666667%; }

  .coll-9 {
    width: 75%; }

  .coll-10 {
    width: 83.3333333333%; }

  .coll-11 {
    width: 91.6666666667%; }

  .coll-12 {
    width: 100%; } }
@media only screen and (max-width: 991px) {
  .coll-sm-1 {
    width: 8.3333333333% !important; }

  .coll-sm-2 {
    width: 16.6666666667% !important; }

  .coll-sm-3 {
    width: 25% !important; }

  .coll-sm-4 {
    width: 33.3333333333% !important; }

  .coll-sm-5 {
    width: 41.6666666667% !important; }

  .coll-sm-6 {
    width: 50% !important; }

  .coll-sm-7 {
    width: 58.3333333333% !important; }

  .coll-sm-8 {
    width: 66.6666666667% !important; }

  .coll-sm-9 {
    width: 75% !important; }

  .coll-sm-10 {
    width: 83.3333333333% !important; }

  .coll-sm-11 {
    width: 91.6666666667% !important; }

  .coll-sm-12 {
    width: 100% !important; } }
.roww {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  width: 100%; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

html, body {
  margin: 0px !important;
  padding: 0px !important;
  overflow-x: hidden; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* navbar  */
.navbar-1 {
  padding: 0px;
  background: url("../image/navbar2.jpg");
  background-size: cover;
  /*background-color: rgba(1,1,1, 0.3);;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0px; }
  .navbar-1 .logo {
    font-size: 50px;
    font-weight: bold;
    margin-left: 10%; }
    .navbar-1 .logo a {
      text-decoration: none;
      color: #f88c7d;
      font-weight: bold; }
      .navbar-1 .logo a:hover {
        color: white; }
      .navbar-1 .logo a span .fa-search {
        width: 150px !important;
        height: 150px !important; }
  .navbar-1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 10%; }
    .navbar-1 ul li {
      display: inline;
      margin-left: 50px; }
      .navbar-1 ul li a:hover {
        color: #f88c7d; }

/********* navbar */
/* navbar en screan mobile */
@media (max-width: 991px) {
  .navbar-1 {
    padding: 0px 15px; }
    .navbar-1 ul {
      float: left;
      justify-content: space-around;
      /*align-items: flex-start !important;*/
      height: 100%;
      padding-left: 0px; }
      .navbar-1 ul li {
        margin-left: 5vw; }
    .navbar-1 .logo {
      z-index: 2; }
    .navbar-1 .navbar-toggler {
      z-index: 2; }
    .navbar-1 .navbar-collapse {
      height: 100vh;
      width: 50% !important;
      padding: 10vh 0px;
      background-color: #e31836;
      /*opacity:0.7;*/
      margin-top: -77px;
      margin-left: -3vw !important;
      margin-right: -3vw !important; }
    .navbar-1 .navbar-toggler, .navbar-1 .navbar-toggler-icon {
      color: white;
      background-color: white; } }
@media (max-height: 499px) {
  .navbar-1 ul {
    justify-content: center; }
    .navbar-1 ul li {
      margin: 2vh 4vw; } }
/* navbar en screan mobile ******* */
/* footer */
.footer {
  position: relative;
  background-image: url("../image/footer.jpg");
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 90vh; }
  .footer .footer-text-3, .footer .footer-text-2, .footer .footer-text-1 {
    padding-top: 50px; }
  .footer .footer-text-2 {
    padding-left: 60px; }
  .footer .footer-text-1 {
    padding-left: 150px; }

@media (max-width: 921px) {
  .footer {
    height: 100vh !important; }
    .footer .footer-text-3, .footer .footer-text-2, .footer .footer-text-1 {
      text-align: center;
      padding-left: 0px !important;
      padding-top: 25px !important;
      padding-bottom: 25px !important; }
    .footer .footer-text-2 {
      text-align: center;
      padding-left: 0px !important;
      padding-top: 25px !important;
      padding-bottom: 25px !important; }
    .footer .footer-text-1 {
      text-align: center;
      padding-left: 0px !important;
      padding-top: 25px !important;
      padding-bottom: 25px !important; } }
/* footer ******/
.header-1 {
  margin: 0px;
  padding: 0px;
  position: relative;
  background-image: url("../image/header.jpg");
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 100vh; }

.section-1 {
  padding: 50px 0px 50px 0px; }
  .section-1 .img-1 {
    width: 100%;
    border-radius: 0 35px 35px 0; }
  .section-1 .col-text-1 {
    padding-left: 30px;
    padding-right: 10px; }
    .section-1 .col-text-1 h1 {
      color: #f88c7d;
      padding: 0px;
      margin: 0px;
      margin-top: 50px; }

.section-2 {
  padding: 0px 0px 50px 0px; }
  .section-2 .img-1 {
    width: 100%;
    border-radius: 35px 0px 0px 35px;
    float: right;
    margin-right: 0px;
    margin-top: -200px; }
    @media only screen and (max-width: 991px) {
      .section-2 .img-1 {
        margin-top: 0px; } }
  .section-2 .col-text-2 {
    padding-left: 30px; }
    .section-2 .col-text-2 h1 {
      color: #f88c7d;
      size: 50px;
      padding: 0px;
      margin: 0px; }

.section-3 {
  padding: 0px 0px 50px 0px; }
  .section-3 h1 {
    color: #f88c7d;
    /*padding-left : 50px ;*/
    text-align: center; }
  .section-3 a {
    text-decoration: none; }
    .section-3 a h3 {
      color: white;
      background-color: #e31836;
      border-radius: 0 0 20px 20px;
      padding: 5px 15px 5px 15px; }
      .section-3 a h3:hover {
        color: #e31836;
        background-color: white; }

/* for mobile screan */
@media (max-width: 767px) {
  .img-1 {
    width: 95% !important; } }

/*# sourceMappingURL=index_style.css.map */
