@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
/* variable  */
/***** variable  */
/* section extend */
.text-family, .content-produit .section-1 p {
  font-family: "Comic Sans MS"; }

.titre-family, .navbar-1 ul li a, .footer .footer-text-3 a, .footer .footer-text-2 a, .footer .footer-text-1 a, .content-produit .section-1 .order a h3, .content-produit .section-1 .prix a h3, .content-produit .section-1 h1, .promation-titre {
  font-family: "Courgette", "Comic Sans MS"; }

.logo-family, .navbar-1 .logo a {
  font-family: "Kaushan Script", "Comic Sans MS"; }

.coll-center-hor, .coll-center-ver {
  display: flex;
  align-items: center;
  justify-content: center; }

.coll-center-hor {
  flex-direction: column; }

.coll-center-ver {
  flex-direction: row; }

.coll-start-hor {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; }

.coll-start-hor {
  flex-direction: column; }

.coll-end-hor {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end; }

.coll-end-hor {
  flex-direction: column; }

.navbar-1 ul li a, .footer .footer-text-3 a, .footer .footer-text-2 a, .footer .footer-text-1 a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold; }

/***** section extend */
@media (min-width: 992px) {
  .coll-1 {
    width: 8.3333333333%; }

  .coll-2 {
    width: 16.6666666667%; }

  .coll-3 {
    width: 25%; }

  .coll-4 {
    width: 33.3333333333%; }

  .coll-5 {
    width: 41.6666666667%; }

  .coll-6 {
    width: 50%; }

  .coll-7 {
    width: 58.3333333333%; }

  .coll-8 {
    width: 66.6666666667%; }

  .coll-9 {
    width: 75%; }

  .coll-10 {
    width: 83.3333333333%; }

  .coll-11 {
    width: 91.6666666667%; }

  .coll-12 {
    width: 100%; } }
@media only screen and (max-width: 991px) {
  .coll-sm-1 {
    width: 8.3333333333% !important; }

  .coll-sm-2 {
    width: 16.6666666667% !important; }

  .coll-sm-3 {
    width: 25% !important; }

  .coll-sm-4 {
    width: 33.3333333333% !important; }

  .coll-sm-5 {
    width: 41.6666666667% !important; }

  .coll-sm-6 {
    width: 50% !important; }

  .coll-sm-7 {
    width: 58.3333333333% !important; }

  .coll-sm-8 {
    width: 66.6666666667% !important; }

  .coll-sm-9 {
    width: 75% !important; }

  .coll-sm-10 {
    width: 83.3333333333% !important; }

  .coll-sm-11 {
    width: 91.6666666667% !important; }

  .coll-sm-12 {
    width: 100% !important; } }
.roww {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  width: 100%; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

html, body {
  margin: 0px !important;
  padding: 0px !important;
  overflow-x: hidden; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* navbar  */
.navbar-1 {
  padding: 0px;
  background: url("../image/navbar2.jpg");
  background-size: cover;
  /*background-color: rgba(1,1,1, 0.3);;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0px; }
  .navbar-1 .logo {
    font-size: 50px;
    font-weight: bold;
    margin-left: 10%; }
    .navbar-1 .logo a {
      text-decoration: none;
      color: #f88c7d;
      font-weight: bold; }
      .navbar-1 .logo a:hover {
        color: white; }
      .navbar-1 .logo a span .fa-search {
        width: 150px !important;
        height: 150px !important; }
  .navbar-1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 10%; }
    .navbar-1 ul li {
      display: inline;
      margin-left: 50px; }
      .navbar-1 ul li a:hover {
        color: #f88c7d; }

/********* navbar */
/* navbar en screan mobile */
@media (max-width: 991px) {
  .navbar-1 {
    padding: 0px 15px; }
    .navbar-1 ul {
      float: left;
      justify-content: space-around;
      /*align-items: flex-start !important;*/
      height: 100%;
      padding-left: 0px; }
      .navbar-1 ul li {
        margin-left: 5vw; }
    .navbar-1 .logo {
      z-index: 2; }
    .navbar-1 .navbar-toggler {
      z-index: 2; }
    .navbar-1 .navbar-collapse {
      height: 100vh;
      width: 50% !important;
      padding: 10vh 0px;
      background-color: #e31836;
      /*opacity:0.7;*/
      margin-top: -77px;
      margin-left: -3vw !important;
      margin-right: -3vw !important; }
    .navbar-1 .navbar-toggler, .navbar-1 .navbar-toggler-icon {
      color: white;
      background-color: white; } }
@media (max-height: 499px) {
  .navbar-1 ul {
    justify-content: center; }
    .navbar-1 ul li {
      margin: 2vh 4vw; } }
/* navbar en screan mobile ******* */
/* footer */
.footer {
  position: relative;
  background-image: url("../image/footer.jpg");
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 90vh; }
  .footer .footer-text-3, .footer .footer-text-2, .footer .footer-text-1 {
    padding-top: 50px; }
  .footer .footer-text-2 {
    padding-left: 60px; }
  .footer .footer-text-1 {
    padding-left: 150px; }

@media (max-width: 921px) {
  .footer {
    height: 100vh !important; }
    .footer .footer-text-3, .footer .footer-text-2, .footer .footer-text-1 {
      text-align: center;
      padding-left: 0px !important;
      padding-top: 25px !important;
      padding-bottom: 25px !important; }
    .footer .footer-text-2 {
      text-align: center;
      padding-left: 0px !important;
      padding-top: 25px !important;
      padding-bottom: 25px !important; }
    .footer .footer-text-1 {
      text-align: center;
      padding-left: 0px !important;
      padding-top: 25px !important;
      padding-bottom: 25px !important; } }
/* footer ******/
body {
  overflow-x: hidden; }

.owl-nav {
  display: none; }

/* page-produit */
.background-produit {
  /*background-image: url("../image/bg2-menu.jpg"); */
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  z-index: -2; }

.content-produit {
  margin-top: 80px; }
  .content-produit .section-1 {
    padding: 0px 0px 50px 0px; }
    .content-produit .section-1 .sec-1 {
      margin-top: 10px; }
      .content-produit .section-1 .sec-1 .image-gallery {
        width: 120px;
        margin-top: 10px;
        margin-bottom: 10px; }
        .content-produit .section-1 .sec-1 .image-gallery img {
          width: 100%; }
    .content-produit .section-1 .image-active {
      width: 350px !important; }
      .content-produit .section-1 .image-active img {
        max-width: 100%; }
    .content-produit .section-1 .titre-1 {
      width: 100% !important; }
    .content-produit .section-1 .order {
      width: 100%;
      display: flex;
      justify-content: flex-end; }
      .content-produit .section-1 .order a {
        text-decoration: none;
        text-align: right !important;
        position: right; }
        .content-produit .section-1 .order a h3 {
          color: white;
          background-color: #e31836;
          border-radius: 20px 20px 20px 20px;
          padding: 5px 15px 5px 15px; }
          .content-produit .section-1 .order a h3:hover {
            color: #e31836;
            background-color: white; }
    .content-produit .section-1 .prix {
      width: 100%;
      display: flex;
      justify-content: flex-end; }
      .content-produit .section-1 .prix a {
        text-decoration: none;
        text-align: right !important;
        position: right; }
        .content-produit .section-1 .prix a h3 {
          color: black;
          border: 3px solid #f88c7d;
          /*background-color: $color-1;*/
          border-radius: 20px 20px 20px 20px;
          padding: 5px 15px 5px 15px;
          margin-top: -10px;
          margin-bottom: -10px; }
    .content-produit .section-1 p {
      color: #e31836;
      padding: 20px 15px 5px 15px; }
      .content-produit .section-1 p:hover {
        color: #e31836;
        background-color: white; }
    .content-produit .section-1 h1 {
      color: #f88c7d;
      padding: 0px;
      margin: 0 auto;
      margin-top: 25px;
      text-align: center !important; }

.promation-titre {
  color: #f88c7d;
  padding: 0px;
  margin: 0px;
  text-align: left;
  padding-left: 130px; }

.promation {
  margin-top: 10px; }
  .promation img {
    border-radius: 25px 0px 0px 0px !important; }

@media (max-width: 991px) {
  .content-produit .section-1 .image-active {
    width: 250px !important; }
    .content-produit .section-1 .image-active img {
      max-width: 100%; }
  .content-produit .section-1 .image-gallery {
    width: 100px !important; }
    .content-produit .section-1 .image-gallery img {
      max-width: 100%; } }
@media (max-width: 767px) {
  h1 {
    text-align: center !important;
    padding-left: 0px !important; } }
@media (max-width: 700px) {
  .content-produit .section-1 .image-active {
    width: 240px !important; }
    .content-produit .section-1 .image-active img {
      max-width: 100%; }
  .content-produit .section-1 .image-gallery {
    width: 70px !important; }
    .content-produit .section-1 .image-gallery img {
      max-width: 100%; } }
@media (max-width: 599px) {
  .item {
    width: 100vw !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important; }
    .item img {
      width: 100% !important; } }
@media (max-width: 575px) {
  .content-produit .section-1 .image-active {
    width: 200px !important; }
    .content-produit .section-1 .image-active img {
      max-width: 100%; }
  .content-produit .section-1 .image-gallery {
    height: 90px !important;
    width: auto !important;
    padding: 0px;
    display: flex !important;
    flex-direction: row !important; }
    .content-produit .section-1 .image-gallery img {
      height: 100%;
      width: 90px !important; }

  .coll-end-hor-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; } }

/*# sourceMappingURL=produit_style.css.map */
